{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Account:getReceivedMessages{% endblock %}

{% block body %}

    {% include '/home/krystian/Workspace/diyoh/src/DiyohBundle/Resources/views/Account/messagebar.html.twig' %}
    
    {% for message in messages %}
        <a href="{{ url("diyoh_account_showmessage",{'id':message.id}) }}"><p>{{ message.title }}
                {% if message.open %}
                    <span class="glyphicon glyphicon-check"></span>
                {% else %}
                    <span class="glyphicon glyphicon-envelope"></span>
                {% endif %}
        </p></a>
    {% endfor %}
    
{% endblock %}
