{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Account:getAllUserComments{% endblock %}

{% block body %}

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">Comments</li>
        </ol>

        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6 project-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Comment
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>
                                    {{ comment.text }}
                                </td>
                                <td>
                                    <a href="{{ url('diyoh_project_showproject',{'id':comment.projectId.id}) }}">{{ comment.projectId.name }}</a>
                                </td>
                                <td>
                                    {{ comment.sendDatetime.date }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>

        </div>

    </div>

{% endblock %}
