{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Account:getAllUserProjects{% endblock %}

{% block body %}

    {% for project in app.user.projects %}
    
        <p>{{ project.name }}</p>
        
    {% endfor %}
    
{% endblock %}
