{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Account:getAllUserFavouriteProjects{% endblock %}

{% block body %}

    {% for project in app.user.favouriteProjects %}
    
        <p>{{ project.name }}</p>
        
    {% endfor %}
    
{% endblock %}
