{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Account:getSentMessages{% endblock %}

{% block body %}

    {% include '/home/krystian/Workspace/diyoh/src/DiyohBundle/Resources/views/Account/messagebar.html.twig' %}
    
    {% for message in messages %}
        <p>{{ message.title }}</p>
    {% endfor %}
    
{% endblock %}
