<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{{ url("diyoh_account_getreceivedmessages") }}">Received</a></li>
    <li role="presentation"><a href="{{ url("diyoh_account_getsentmessages") }}">Sent</a></li>
</ul>