{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showMaterials{% endblock %}

{% block body %}

    {% for material in materials %}
        <a href="{{ url("diyoh_project_showmaterial",{'id':material.id}) }}"><p>{{ material.name }}</p></a>
    {% endfor %}
    
{% endblock %}
