{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showProjects{% endblock %}

{% block body %}

    {% for project in projects %}
        
        <p><a href="{{ url("diyoh_project_showproject",{'id':project.id}) }}">{{ project.name }}</a></p>
        
    {% endfor %}
    
{% endblock %}
