{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showTags{% endblock %}

{% block body %}

    {% for tag in tags %}
        <a href="{{ url("diyoh_project_showtaglinks",{'id':tag.id}) }}"><span class="badge">{{ tag.name }}</span>
    {% endfor %}
        
{% endblock %}
