{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showProject{% endblock %}

{% block body %}

    {% include('DiyohBundle:Project:project_navbar.html.twig') %}

    <div class="container">
        <div class="row">

            {#<div class="page-header">

                <h4>Materials</h4>

            </div>#}

            {#<div class="list-group">

                {% for material in project.materials %}

                    <a href="{{ url("diyoh_project_showmaterial",{'id':material.id}) }}" class="list-group-item"><p>{{ material.name }}</p></a>

                {% endfor %}

            </div>#}
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <td>Comments</td>
                    </tr>
                </thead>
                <tbody>
                    {% for material in project.materials %}
                    <tr>
                        <td><a href="{{ url("diyoh_project_showmaterial",{'id':material.id}) }}">{{ material.name }}</a></td>
                        <td>Q</td>
                        <td>IMG</td>
                        <td>COMMENT</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
