{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showMainCategories{% endblock %}

{% block body %}
    
    {% for category in categories.overriding %}
        
        <a href="{{ url('diyoh_project_showcategorycontent',{'id':category.id}) }}"><div>{{ category.name }}</div></a>
        
    {%endfor%}
    
{% endblock %}
