{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showTools{% endblock %}

{% block body %}

    {% for tool in tools %}
        <a href="{{ url("diyoh_project_showtool",{'id':tool.id}) }}"><p>{{ tool.name }}</p></a>
    {% endfor %}
    
{% endblock %}
